
<script type="text/javascript" src="http://webos-goodies.googlecode.com/svn/trunk/products/jslib/draggable_grid/draggable_grid.js"></script>

<p id="notice"><%= notice %></p>

<br>
<p>
<h1>Pictures</h1>

<h2>Please push F5 once for avoiding bug that cannot show and upload pictures.</h2>

<%= render 'form' %>


</p>
<style type="text/css">
  .draggable {
    display: inline-block;
    vertical-align: top;
    width: 202px;
    height: 202px;
    zoom: 1;
    *display: inline;
  }
  </style>

<div id="grid" >
  <% @pictures.each do |picture| %>
  <div class="draggable">
    <%= picture.created_at.to_s.split(' ').first  %>
    <div id="no-turbolinks" data-no-turbolink><%= link_to image_tag(picture.picture.url(:thumb)), picture.picture.url(:browse) ,:rel => "lightbox[0]"%></div>
  </div>
  <% end %>
</div>

<script type="text/javascript">
  new DraggableGrid('grid',  { handleClass: 'handle' });
</script>



